/* .contenedorTarjetas {
    animation: elevate 3s infinite ease-in-out;
} */

.botonAnim-1, .botonAnim-1 div h5 {
    animation: elevate1 30s infinite ease;

}

.botonAnim-2, .botonAnim-2 div h5 {
    animation: elevate2 30s infinite ease;

}





@keyframes elevate1 {
    0% {bottom: 0rem;}
    0.5% {bottom: 1rem;}

    9.5%{bottom: 1rem;}
    10%{bottom: 0rem;} 
}

@keyframes elevate2 {

}


