.headerAsociacion {
    min-height: 25rem;
    width: 100%;
    background-image: url('/img/asociacion/pistapadel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info {
    display: flex;
    margin-top: 2rem;
}

.titulo {
    text-align: center;
    color: #618c03;
}

.historia {
    margin-top: 3rem;
    margin-left: 3rem;
}

.historia2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.historia2 h3 {
    color: #618c03;
}

.historia2 p {
    margin-top: 0.5rem;
}

.s2 {
    background-color: #b3d92b;
    width: 100%;
}

.llamada {
    background-color: #b3d92b;
    padding: 2px;
    text-align: center;
}

button{
    padding: 5px;
    margin: 5px 3px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #618c03;
    color: #081526;
    font-size: 2rem;
    background-color: transparent;
}

button:hover{
    cursor: pointer;
}