.headerContacto {
    min-height: 25rem;
    width: 100%;
    background-image: url('/img/contacto/header_contacto_img2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccionContacto {
    /* border: #B3D92B solid 5px; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imgContacto {
   
    border: red solid 3px;
    width: 95%;

}
.divContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    min-height: 15rem;
    /* border: 2px solid blue */
}
.divContacto2 {
    margin-top: 2rem;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
    padding-left: 2rem;
    min-height: 15rem;
    /* border: 3px green solid; */
}
.divContacto2 h2 {
    width: 100%;
}

article {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 2%;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
    /* border: 2px solid rgb(255, 196, 0); */
}
form {
    min-height: 25rem;
    padding-top: 1rem;
    width: 100%;
    padding-right: 4rem;
    /* border: 3px solid red; */
}
label {
    padding-left: 1rem;
    font-size: 1.2rem;
    color: #7B8DA6;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
form input {
    font-size: 1.2rem;
    color: #081526;
    text-indent: 1rem;
    border: #7B8DA6 0.12rem solid;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    width: 100%;
    min-height: 2.5rem;
    border-radius: 0.8rem;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
}
form input:focus {
    border: #B3D92B 0.12rem solid;
    background-color: #ebffa4;
    
}
textarea {
    font-size: 1.2rem;
    color: #081526;
    padding-top: 0.5rem;
    padding-left: 1rem;
    border: #7B8DA6 0.12rem solid;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    width: 97.5%;
    min-height: 2.5rem;
    border-radius: 0.8rem;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    
}
textarea:focus {
    border: #B3D92B 0.12rem solid;
    background-color: #ebffa4;
    
}
#botonContacto {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    color: white;
    font-family: PadelBold;
    font-size: 1.2rem;
    background-color: white;
    border: #B3D92B solid 0.2rem;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    color: #B3D92B;
    transition: 0.3s;
}
#botonContacto:hover {
    background-color: #B3D92B;
    border: #B3D92B solid 1rem;
    color: white;
    transition: 0.3s;
}
iframe {
    border-radius: 2rem;
}




/******************* MEDIA QUERIES ******************/

/*    Codigo pag en tablet       */

@media (max-width:960px) {
    .headerContacto {min-height: 10rem;}
    section {
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        }
    .divContacto {width: 90%;
        margin-bottom: 2rem;}
    .divContacto2 {
        width: 90%;
    justify-content: center;
    padding-right: 2rem;
}

    h2 {display: flex;
    justify-content: center;
    margin-top: 1rem;}
    p {margin-left: 1.5rem;
        margin-right: 1.5rem;}
}
    
/*  Codigo pagina en smartphone   */    

@media (max-width:768px) {
    .headerContacto {min-height: 10rem;}
    section {width: 100%;
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        }
    .divContacto {width: 100%;}
    .divContacto2 {width: 100%;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;}
    article { border-radius: 0;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;}
    form {
        width: 95%;
        /* padding-right: 1rem; */
        padding-left: 1rem;

    }

    textarea {
        padding-left: 1rem;
    }
    h2 {display: flex;
    justify-content: center;
    margin-top: 1rem;}
    p {margin-left: 1.5rem;
        margin-right: 1.5rem;}
    iframe {border-radius: 0;}

    main {
        width:100%
    }

 }
