section {display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* border: 2px solid blue; */
}

section div {
    width: 80%;
    display: flex;
    justify-content: center;
    /* border: 2px solid yellowgreen; */
}

h2 {width: 100%;
    justify-self: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    /* border: 1px solid blueviolet */
}

h3 {padding-bottom: 2rem;
    text-align: center;}

h4 {margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;}

h5 {margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;}

table {
    width: 100%;
    text-align: center;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
    border-radius: 5%;
    -moz-border-radius: 5px;
    border-collapse: collapse;
    border: none;
    border-collapse:separate;
    border-spacing: 0px 0px;
    margin-bottom: 2rem;}


td {padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: white; 
    color: #081526;}

th {padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: #081526; 
    color: white; 
    font-size: 2rem; 
    font-weight: bolder;}


th:first-of-type {border-top-left-radius: 1rem;}
    
th:last-of-type {border-top-right-radius: 1rem; }
    
tr:last-of-type td:first-of-type {border-bottom-left-radius: 1rem;}
      
tr:last-of-type td:last-of-type {border-bottom-right-radius: 1rem;}

.destacado {background-color: #618C03; 
    color: white; }

table tr:hover td {background-color: #ddd;
                    color: #081526;}

.titulo {width: 100%; 
        text-align: center;     
        margin: 2rem;}


article {
    margin-bottom: 5%;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}


.headerEventos {
    min-height: 25rem;
    width: 100%;
    background-image: url('/img/eventos/head-eventos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dropdown li:hover ul {
    display: block;
}

.dropdown ul {display: none;
    position: absolute;
    width: 9rem;
    height: 4rem;
    text-align: center;
    background-color: white;
}

.dropdown ul li a {
    display: block;
    text-decoration: none;
}

#menu {display: none;
    position:fixed;
    top: 0rem;
    right:0rem }
label {display: none;
    position:fixed;
        top: 0rem;
        right:0rem }

.burguer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #081526;
    border: 1px solid #081526;
    border-radius: 5px;
    background-color: white;
    width: 3rem;
    height: 3rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }

  .divNavegacionSP {
    position: fixed;
    top: 0rem;
    left: -50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #618C03;
    transition: 500ms;
    transition-delay: 500ms;
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);


}


/******************* MEDIA QUERIES ******************/

/*    Codigo pag en tablet       */

@media (max-width:960px) {
    .headerEventos {min-height: 10rem;}
    section {width: 90%;}
    section div {width: 90%;
        padding-right: 2rem;
        padding-left: 2rem;}
    h2 {display: flex;
        justify-content: center;
        margin-top: 1rem;}
    footer {justify-content: space-between;
            }
    .logoFooter {padding-left: 2rem;}
    .navFooter {padding-right: 2rem;}

}


/*  Codigo pagina en smartphone   */    

@media (max-width:600px) { 
    .headerEventos {min-height: 10rem;}
    section {width: 100%;}
    section div {width: 100%;
    padding-right: 0;
    padding-left: 0;}
    h2 {display: flex;
    justify-content: center;
    margin-top: 1rem;}
    article {border-radius: 0;
        box-shadow: none;}
    table {border-radius: 0;
        -moz-border-radius: 0;
        box-shadow: none;
        margin-bottom: 1rem;}
    th:first-of-type {border-top-left-radius: 0;}
    
    th:last-of-type {border-top-right-radius: 0; }
            
    tr:last-of-type td:first-of-type {border-bottom-left-radius: 0;}
              
    tr:last-of-type td:last-of-type {border-bottom-right-radius: 0;}
    th {font-size: 1.5rem;}

    label {display: block;
        position:fixed;
        top: 0rem;
        right:0rem;
        z-index: 100; }

    #menu {display: none;
            position:fixed;
            top: 0rem;
            right:0rem;
            z-index: 100; }

    nav ul {width: 100%;
        color: white;}

    nav ul li {
        display: flex;
        flex-direction: column;
        min-height: 5rem;
        justify-content: center;
        align-items: center;
        width: 100%;
            border-bottom: 1px solid white;
}


    nav ul li a {color: white;}

    .divLogo {
                width: 100%;
                display: flex;
                justify-content: left;
                align-items: center;
                padding-left: 1rem;

            }

    .divNavegacionSP {width: 100%;}

    .divNavegacion ul{
        display: none;
      }
    
    #menu:checked  ~ .divNavegacionSP {translate: 50rem 0px;
      }

    #menu:checked ~ label .burguer {background-color: #618C03;
        color: white;}

    #menu:checked ~ label .burguer {
            background-color: #618C03;
            color: white;
            border:none;
        }


    .divNavegacionSP ul li:active {background-color: #B3D92B;
    }

    footer {flex-direction: column;
        align-items: center;}
    
    .logoFooter {width: 100%;
        padding-left: 0;
        padding-top: 2rem;
        padding-bottom: 1rem;
        min-height: 0;
        }
    .rrss {width: 100%;
        min-height: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 2rem;}

    .navFooter {
        justify-content: space-around;
        text-align: center;
        font-size: 1rem;
        font-weight: bolder;
        width: 100%;
        padding-right: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        min-height: 0;}

    .navFooter ul li {padding-bottom: 0.5rem;
    }

    .rrss ul {width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
            align-items: center;
            align-content: center;}

    .rrss ul li {justify-content: center;}

    }


