.contenedorSlides {
    position: absolute;
    z-index: 0;
    width: 500%;
    height: 40rem;
    display: flex;
    animation: slide 40s infinite ease-in-out;
}

[class^="slide"] {
    margin: 0%;
    padding: 0%;
    width: 20%;
    height: 40rem;
    background-size: cover;
}
.slide-1 {
    background-image: url(../img/slides_index/slide1.jpg);
    background-position: center;
}
.slide-2 {
    background-image: url(../img/slides_index/slide2.jpg);
    background-position: center;
}
.slide-3 {
    background-image: url(../img/slides_index/slide3.jpg);
    background-position: center;
}
.slide-4 {
    background-image: url(../img/slides_index/slide4.jpg);
    background-position: center;
}
.slide-5 {
    background-image: url(../img/slides_index/slide5.jpg);
    background-position: center;
   
}
.slides img {
    width: 100%;
}



/* @keyframes slide {
    0% {margin-left: -200%}
    15% {margin-left: -200%}

    20% {margin-left: -400%}
    35% {margin-left: -400%}

    40% {margin-left: -600%}
    55% {margin-left: -600%}
    
    60% {margin-left: -800%}
    75% {margin-left: -800%}

    80% {margin-left: -1000%}
    95% {margin-left: -1000%}
  
} */


@keyframes slide {
    0% {left: 0%;}
    15% {left: 0%;}

    20% {left: -100%;}
    35% {left: -100%;}

    40% {left: -200%;}
    55% {left: -200%;}
    
    60% {left: -300%;}
    75% {left: -300%;}

    80% {left: -400%;}
    95% {left: -400%;}

    100% {left: 0%;} 
}
