@font-face {
    font-family: 'Padel';
    src: url("../fonts/gothamrnd_book.otf") format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'PadelBold';
    src: url("../fonts/gothamrnd_bold.otf") format('opentype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: Padel;

}

nav {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    background-color: white;
    min-height: 5rem;
}
nav ul li {
    display: inline;
    font-weight: bold;

}
a {
    text-decoration: none;
}


nav img {
    height: 2rem;
}
nav a {
    color: #081526;
}
nav a:hover {
    color: #B3D92B;
    transition: 0.4s;

}
h1 {
    color: #B3D92B;
    font-size: 4rem;
    font-family: PadelBold;
    text-align: center;


}
h2 {
    font-family: PadelBold;
    font-size: 3rem;
    color: #B3D92B;
    text-align: center;

}
h3 {
    font-size: 2rem;
}

.headernoticias {
    min-height: 25%;
    width: 100%;
    background-image: url("/img/bienvenida\ padel");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Main */

main {
    background-color: #B3D92B;
}

h2 {
    background-color: #B3D92B;
    color: #081526;
    padding-left: 3rem;
    text-align: center;
}

/* Grid */

.grid-container {
    display: flex; 
   margin: auto;
    padding: 1rem;
    flex-wrap: wrap;font-face {
        font-family: 'Padel';
        src: url("../fonts/gothamrnd_book.otf") format('opentype');
        font-style: normal;
        font-weight: normal;
    }
    @font-face {
        font-family: 'PadelBold';
        src: url("../fonts/gothamrnd_bold.otf") format('opentype');
        font-style: normal;
        font-weight: normal;
    }
    
    * {
        margin: 0;
        padding: 0;
        font-family: Padel;
    
    }
    
    nav {
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
        background-color: white;
        min-height: 5rem;
    }
    nav ul li {
        display: inline;
        font-weight: bold;
    
    }
    a {
        text-decoration: none;
    }
    
    
    nav img {
        height: 2rem;
    }
    nav a {
        color: #081526;
    }
    nav a:hover {
        color: #B3D92B;
        transition: 0.4s;
    
    }
    h1 {
        color: #B3D92B;
        font-size: 4rem;
        font-family: PadelBold;
        text-align: center;
    
    
    }
    h2 {
        font-family: PadelBold;
        font-size: 3rem;
        color: #B3D92B;
        text-align: center;
    
    }
    h3 {
        font-size: 2rem;
    }
    
    .headernoticias {
        min-height: 25%;
        width: 100%;
        background-image: url("/img/bienvenida\ padel");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    /* Main */
    
    main {
        background-color: #B3D92B;
    }
    
    h2 {
        background-color: #B3D92B;
        color: #081526;
        padding-left: 3rem;
        text-align: center;
    }
    
    /* Grid */
    
    .grid-container {
        display: flex; 
       margin: auto;
        padding: 1rem;
        flex-wrap: wrap;
        max-width: 20rem;
        max-height: 10%;
        color: #081526;
        
    }
    
    .grid-item {
        width: 100%; 
        color: #081526;}
    
    .grid-item img {
        width: 100%; 
        height: auto; 
        display: flex; 
        flex-wrap: wrap;
        color: #081526;}
    
        .divLogo {
            width: 45%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            min-height: 4rem;
        }
        .divNavegacion {
            width: 45%;
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
            align-items: center;
            min-height: 5rem;
            padding-bottom: 0.4rem;
        }
        .langSeleccion {
            font-size: 0.8rem;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: end;
        }
        .navPaginas {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
        }
        .headerBienvenida {
            min-height: 40rem;
            width: 100%;
            background-image: url('/img/padel-header.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .seccionInicio {
            /* border: #B3D92B solid 5px; */
            display: flex;
            justify-content: space-evenly;
            flex-wrap: nowrap;
        }
        .imgInicio {
            /* border: red solid 3px; */
            width: 50%;
        
        }
        .divInicio {
            /* border: yellow solid 3px; */
            width: 80%;
            min-height: 15rem;
        }
        .logoFooter {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            min-height: 12rem;
        }
        .navFooter {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            min-height: 12rem;
            color: #7B8DA6;
            text-decoration: none;
        }
        .navFooter ul li a  {
            color: #7B8DA6;
        }
        .navFooter ul li a:hover {
            color: #B3D92B;
            transition: 0.5s;
        }
        .copyright {
            width: 90%;
        
        }
        
        /****************CLASES COMBINADAS *****************/
        .navPaginas li {
            list-style: none;
            padding-right: 1rem;
            padding-left: 2rem;
        }
        .langSeleccion li {
            list-style: none;
            padding-right: 1rem;
            padding-left: 0.2rem;
            font-size: 0.8rem;
            font-weight: normal;
        }
        /* .seccionInicio div {
            width: 50%;
            border: green 3px solid;
        } */
        .navFooter ul {
            list-style: none;
            color: #7B8DA6;
            line-height: 2rem;
        }
        .copyright p {
            text-align: center;
            color: #7B8DA6;
            font-size: 0.7rem;
        }
        .logoFooter img {
                height: 9rem;
        }
    
    
    width: 100%; 
    height: auto; 
    display: flex; 
    flex-wrap: wrap;
    color: #081526;}

    .divLogo {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 4rem;
    }
    .divNavegacion {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        min-height: 5rem;
        padding-bottom: 0.4rem;
    }
    .langSeleccion {
        font-size: 0.8rem;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: end;
    }
    .navPaginas {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    .headerBienvenida {
        min-height: 40rem;
        width: 100%;
        background-image: url('/img/padel-header.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .seccionInicio {
        /* border: #B3D92B solid 5px; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .imgInicio {
        /* border: red solid 3px; */
        width: 50%;
    
    }
    .divInicio {
        /* border: yellow solid 3px; */
        width: 80%;
        min-height: 15rem;
    }
    .logoFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        min-height: 12rem;
    }
    .navFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        min-height: 12rem;
        color: #7B8DA6;
        text-decoration: none;
    }
    .navFooter ul li a  {
        color: #7B8DA6;
    }
    .navFooter ul li a:hover {
        color: #B3D92B;
        transition: 0.5s;
    }
    .copyright {
        width: 90%;
    
    }
    
    /****************CLASES COMBINADAS *****************/
    .navPaginas li {
        list-style: none;
        padding-right: 1rem;
        padding-left: 2rem;
    }
    .langSeleccion li {
        list-style: none;
        padding-right: 1rem;
        padding-left: 0.2rem;
        font-size: 0.8rem;
        font-weight: normal;
    }
    /* .seccionInicio div {
        width: 50%;
        border: green 3px solid;
    } */
    .navFooter ul {
        list-style: none;
        color: #7B8DA6;
        line-height: 2rem;
    }
    .copyright p {
        text-align: center;
        color: #7B8DA6;
        font-size: 0.7rem;
    }
    .logoFooter img {
            height: 9rem;
    }

