.rrss {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-height: 12rem;
    color: #7B8DA6;
    text-decoration: none;
    font-size: xx-large;
}
/* a:visited {color: #7B8DA6;} */

.headerNoticias{
    min-height: 25rem;
    width: 100%;
    background-image: url('/img/img.noticias/bienvenida\ padel');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/* Grid */

.grid-container {
    color: #081526;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.grid-container img {
    width: 75%;               
    height: auto;  
    border-radius: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: yellowgreen;
    
   
}             

/* 
    .divLogo {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 4rem;
    }
    .divNavegacion {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        min-height: 5rem;
        padding-bottom: 0.4rem;
    }
    .lanSeleccion {
        font-size: 0.8rem;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: end;
    }
    .navPaginas {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    */
    
    .seccionInicio {
        /* border: #B3D92B solid 5px; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .imgInicio {
        /* border: red solid 3px; */
        width: 50%;
    
    }
    .divInicio {
        /* border: yellow solid 3px; */
        width: 80%;
        min-height: 15rem;}
   
    /******************* MEDIA QUERIES ******************/
  
    /*    Codigo pagina en tablet       */
    @media (max-width: 960px) {
        .texto {width: 100%;}
        .rrss {
            width: 30%;  
            font-size: large;  
        }
    
        .headerNoticias {
            min-height: 20rem;  
        }
    
        .grid-container {
            grid-template-columns: repeat(2, 1fr); 
            gap: 3rem; 
            padding: 2rem;
        }
    
        .grid-container img {
            width: 80%; 
            padding-left: 0;
            padding-right: 0;
        }
    }


    /* Codigo pagina en smartphone  */
    @media (max-width: 480px) { 
        .texto {width: 100%;} 
        .rrss {
            width: 50%; 
            font-size: medium;  
        }
    
        .headerNoticias {
            min-height: 15rem; 
            background-size: cover;  
        }
    
        .grid-container {
            grid-template-columns: 1fr; 
            gap: 2rem;
            padding: 1rem;

        }
    
        .grid-container img {
            width: 90%;  
            padding-right: 0;
        
        }
    }
