@keyframes slide {
	0% { transform: translateX(0); }
	15% { transform: translateX(0); }

	20% { transform: translateX(-100%); }
	35% { transform: translateX(-100%); }

	40% { transform: translateX(-200%); }
	55% { transform: translateX(-200%); }

	60% { transform: translateX(-300%); }
	75% { transform: translateX(-300%); }

	80% { transform: translateX(-400%); }
	95% { transform: translateX(-400%); }

	100% { left: 0%; }
}

* { box-sizing: border-box; }

html { scroll-behavior: auto; }

.carrusel {
	max-width: 50%;
	margin: 0;
	margin-top: 5rem;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
	flex-wrap: nowrap;
}

.slide {
	width: 100%;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: running;
}

.slide img {
	width: 100%;
	height: auto;
	margin: 0;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 100%;
	}

}