* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    background-color: white;
    border: red 1px solid;
    min-height: 5rem;
}
nav ul li {
    display: inline;
    font-weight: bold;
}
a {
    text-decoration: none;
}


nav img {
    height: 5rem;
}
h1 {
    color: #B3D92B;
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7B8DA6;
    min-height: 40rem;
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C1CBD9;
    min-height: 40rem;
    width: 100%;
}

p {
    font-size: 1rem;
}
footer {
    width: 100%;
    background-color: #081526;
    min-height: 15rem;
}
section {
    width: 90%;
    min-height: 38rem;
    border: 4px red dotted;
}

/*************** CLASES NOMBRADAS ***********************/
.divLogo {
    width: 45%;
    border: 4px blue solid;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
}
.divNavegacion {
    width: 45%;
    border: 4px blue solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    min-height: 5rem;
}
.langSeleccion {
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
}
.navPaginas {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
}
.headerBienvenida {
    min-height: 40rem;
    width: 100%;
    background-image: url('/img/padel-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/****************CLASES COMBINADAS *****************/
.navPaginas li {
    list-style: none;
    padding-right: 1rem;
    padding-left: 2rem;
}
.langSeleccion li {
    list-style: none;
    padding-right: 1rem;
    padding-left: 0.2rem;
    font-size: 0.8rem;
    font-weight: normal;
}