* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    background-color: white;
    min-height: 5rem;
}
nav ul li {
    display: inline;
    font-weight: bold;
    border: 3px blue solid;
}
a {
    text-decoration: none;
}


nav img {
    height: 5rem;
}
h1 {
    color: #B3D92B;
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
    color: #B3D92B;
    text-align: center;
}
h3 {
    font-size: 2rem;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7B8DA6;
    min-height: 40rem;
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f8fc;
    min-height: 40rem;
    width: 100%;
}

p {
    font-size: 1rem;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #081526;
    min-height: 15rem;
}
section {
    width: 90%;
    min-height: 38rem;
    border: 4px red dotted;
}

/*************** CLASES NOMBRADAS ***********************/
.divLogo {
    width: 45%;
    border: 4px blue solid;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
}
.divNavegacion {
    width: 45%;
    border: 4px blue solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    min-height: 5rem;
    padding-bottom: 0.4rem;
}
.langSeleccion {
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
}
.navPaginas {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
}
.headerBienvenida {
    min-height: 40rem;
    width: 100%;
    background-image: url('/img/padel-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-height: 12rem;
    border: yellow 3px solid;
}
.navFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-height: 12rem;
    border: green 3px solid;
    text-decoration: none;
}
.copyright {
    width: 90%;
    border: purple 3px solid;
}

/****************CLASES COMBINADAS *****************/
.navPaginas li {
    list-style: none;
    padding-right: 1rem;
    padding-left: 2rem;
}
.langSeleccion li {
    list-style: none;
    padding-right: 1rem;
    padding-left: 0.2rem;
    font-size: 0.8rem;
    font-weight: normal;
}
.navFooter ul {
    list-style: none;
    color: #7B8DA6;
    line-height: 2rem;
}
.copyright p {
    text-align: center;
    color: #7B8DA6;
    font-size: 0.7rem;
}
.logoFooter img {
        height: 5rem;
}